<div class="form-bg mt-5">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-lg-12 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <div class="form-container">
          <div class="form-icon">
            <i class="fa fa-user-edit"></i>
          </div>
          <h3 class="title">User Login</h3>
          <div class="alert alert-danger" *ngIf="error">
            <p>
              {{error}}
            </p>
          </div>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <form #authForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-user"></i></span>
              <input class="form-control" type="email" placeholder="Username" ngModel name="email" required email>
            </div>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" placeholder="Password" ngModel name="password" required password minlength="6">
            </div>
            <span class="forgot-pass"><a href="#">Forgot Password ?</a></span>
            <button class="btn signin" type="submit" [disabled]="!authForm.valid"> {{isLoginMode ? 'Login' : 'Sing Up'}} </button>
          </form>
          <span class="user-signup">Switch to <a type="button" (click)="onSwitchMode()">{{isLoginMode ? 'Sing Up' : 'Login'}}</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

